@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// import than the name of the file
*{
    max-width: 100%;
}
body {
    margin: 0;
    background-color: #efefef;
    max-width: (100%);
    }
    text-center{
      text-align: center
    }
    .nav{
      float: right;
      justify-content: center;
    }
    .navbar{
        justify-content: center;
    }
 
    p{
      text-align: center;
      font-family: Charm, sans-serif;

    }
     h1{
         text-align: center;
         font-family: Oswald, sans-serif;
        float: center;
        justify-content: center;
     }
    .p {
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 3px;
    }