.container
    .row
        .col-lg-3.col-md-3.col-sm-12.col-xs-12  
            .content
                h1.h1  Trending
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias ipsa rerum veritatis, praesentium quidem ipsam laudantium eos commodi repellat quam expedita accusamus dignissimos neque dolorum maxime ipsum. A, ea.
        .col-lg-6.col-md-6.col-sm-12.col-xs-12 
            .content
                h1.h1  Our Latest Post 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, odit. Non harum perspiciatis optio perferendis minima nemo corporis ex facere officia. Incidunt cumque ex iusto. Quasi labore fugiat quis odio!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex possimus reprehenderit soluta delectus nobis voluptatem sed deleniti assumenda optio, dolores eos quia laborum iure fuga consectetur ut voluptates. Temporibus, quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vel ut doloremque aliquid hic id odio, doloribus consequuntur vitae, atque dignissimos iure excepturi non nemo reprehenderit, dolorum qui illo voluptatibus?
        .col-lg-3.col-md-3.col-sm-12.col-xs-12  
            .content
                h1.h1 McSeeney's publish
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, quaerat suscipit porro officiis ipsam quis quod ab. Iure dignissimos commodi ipsam enim, aperiam unde earum nulla, ex, omnis molestias qui.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi aut repellendus esse, temporibus dicta facere nihil alias at! Nulla culpa mollitia aut non quibusdam quidem neque eos voluptatem quas repudiandae.        
.container
        .row
            .col-lg-8.col-md-8.col-sm-12.col-xs-12 
                .content
                    h1 Sign up 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias ipsa rerum veritatis, praesentium quidem ipsam laudantium eos commodi repellat quam expedita accusamus dignissimos neque dolorum maxime ipsum. A, ea.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium molestiae, ab laboriosam expedita inventore aspernatur rerum voluptates repellendus sint error eaque, distinctio eum natus? Magni amet nihil et doloremque odit?
            .col-lg-4.col-md-4.col-sm-12.col-xs-12  
                .content
                    h1.h1 The side
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, quaerat suscipit porro officiis ipsam quis quod ab. Iure dignissimos commodi ipsam enim, aperiam unde earum nulla, ex, omnis molestias qui.
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi aut repellendus esse, temporibus dicta facere nihil alias at! Nulla culpa mollitia aut non quibusdam quidem neque eos voluptatem quas repudiandae.        
        .container
            .row
                .col-lg-2.col-md-12.col-sm-12.col-xs-12 
                    .content
                        h1 Bottom  1
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias ipsa rerum veritatis, praesentium quidem ipsam laudantium eos commodi repellat quam expedita accusamus dignissimos neque dolorum maxime ipsum. A, ea.
                .col-lg-2.col-md-12.col-sm-12.col-xs-12  
                    .content
                        h1 Bottom 2
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, odit. Non harum perspiciatis optio perferendis minima nemo corporis ex facere officia. Incidunt cumque ex iusto. Quasi labore fugiat quis odio!

                .col-lg-2.col-md-12.col-sm-12.col-xs-12  
                    .content
                        h1 Bottom 3
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, quaerat suscipit porro officiis ipsam quis quod ab. Iure dignissimos commodi ipsam enim, aperiam unde earum nulla, ex, omnis molestias qui.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi aut repellendus esse, temporibus dicta facere nihil alias at! Nulla culpa mollitia aut non quibusdam quidem neque eos voluptatem quas repudiandae.        
.container
    .row
        .col-lg-12
            .content
                h1 Footer 1
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias ipsa rerum veritatis, praesentium quidem ipsam laudantium eos commodi repellat quam expedita accusamus dignissimos neque dolorum maxime ipsum. A, ea.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium molestiae, ab laboriosam expedita inventore aspernatur rerum voluptates repellendus sint error eaque, distinctio eum natus? Magni amet nihil et doloremque odit?
        .col-lg-12
            .content
                h1 Fotter 2
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam non aut sit! Rem nemo dignissimos officia pariatur corporis fugiat voluptatibus omnis ullam, doloremque, nam, culpa dolores ad animi quis!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nostrum nesciunt eaque voluptatum. Doloremque ullam quidem culpa obcaecati! Eius ipsum suscipit veritatis laborum animi qui aut omnis itaque magni molestias.