<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/main.scss")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Charm|Oswald")
    script(src="../js/main.js")
    title McSWEENEY’S INTERNET TENDENCY 
    body
    include nav/nav.pug
    include ./content/content.pug

     