body
    nav.navbar.navbar-expand-lg
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='true' aria-label='Toggle navigation')
            //- span.navbar-toggler-icon
            form.form-inline.my-4.my-lg-2
            input.form-control.mr-md-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='#') Internet Tendency |
                li.nav-item
                    a.nav-link(href='#') The Store |
                li.nav-item.dropdown
                    a.nav-link(href='#') Books Division |
                li.nav-item
                    a.nav-link(href='#')  Quarterly Concern |
                li.nav-item
                    a.nav-link(href='#') Donate 

    h1.h1 McSeeney's 
    p Internet Tendency

    p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo totam corporis, qui, reprehenderit libero perspiciatis cumque consequatur eius ea maiores repellat quam, assumenda dolorem facilis eum. Vel facere voluptatibus voluptatem? 
        